:root {
  --dark: #333333;
  --light: #fff;
  --highlight: #74FBB5;
  --hover: #fff;
  --hover-span: orange;
  --box-shadow: rgba(0, 0, 0, 0.8);
  --gb-grey: #BCBEC3;
  --peachy: #F3AEAC;
  --peachier: #EA655D;
  --purps: #A5ACF5;
  --aqua: #74FBB5;
  --lumi: #c0fa62;
  --gradient: linear-gradient(45deg,
      rgba(54, 54, 54, 0.8) 0%,
      rgba(88, 88, 88, 0.7) 100%);
  --gradient-light: linear-gradient(45deg,
      rgba(158, 158, 158, 0.8) 0%,
      rgba(255, 255, 255, 0.7) 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* added wrapper to fix overflowX in safari */

.wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-image: var(--gradient);
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  color: var(--light);
  line-height: 1.5;
  padding: 0;
  margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300;
}

p {
  margin: 1rem;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

ul {
  padding-top: 1rem;
  padding-left: 1.5rem;
}

ul>li {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: var(--light);
}

a:hover {
  color: var(--highlight);
}

span {
  letter-spacing: .2rem;
  color: var(--highlight);
}

span:hover {
  color: var(--hover-span);
  cursor: pointer;
}

em {
  color: var(--highlight);
}

/* flex container */

.container {
  margin: 0 auto;
}

/* navbar */

.nav-container {
  width: 100%;
  background-color: var(--dark);
  border-bottom: 3px solid var(--light);
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 9;
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: none;
}

.navbar {
  color: var(--light);
  height: 5rem;
  padding: 1rem;

}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
}

.navbar a {
  text-decoration: none;
  color: var(--light);
  font-size: 1.8rem;
  font-weight: 300;
}

.navbar a:hover {
  color: var(--highlight);
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 2rem;
}

.navbar ul li {
  margin-right: 2rem;
}

.navbar li:last-child {
  margin-right: 0;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  text-align: center;
  animation: easeInOutLeft 2s;
  padding: 1rem;
}

.nav-left img {
  width: 4rem;
  /* chrome fix */
  height: 4rem;
  margin: .5rem 0;
}

.nav-left a {
  margin-top: 1.2rem;
  margin-left: 1rem;
  text-align: center;
}

.nav-right {
  padding-top: 1rem;
  padding-right: .6rem;
}

.nav-right a {
  animation: fadeIn 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  font-size: 1.4rem;
  margin-top: 0;
}

/* header */

.header-hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero-anim squares */

.bg-grid-container {
  animation: fadeIn 15s;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 3px;
  width: 100vw;
  height: 300px;
  margin-left: .7rem;
  padding: 2rem;
  padding-bottom: 4rem;
  z-index: -1;
}

.bg-grid-container>* {
  border: 1px solid black;
}

.grid-item {
  width: 50px;
  height: 30px;
}

#aqua {
  background-color: var(--highlight);
  animation: colourFade 3.2s ease alternate infinite;
}

#peach {
  background-color: var(--peachy);
  animation: colourFade 2.5s ease alternate infinite;
}

#purple {
  background-color: var(--purps);
  animation: colourFade 2s ease alternate infinite;
}

#lumi {
  background-color: var(--lumi);
  animation: colourFade 3s ease alternate infinite;
}

/* main */

.main {
  margin: 0 auto;
  padding: 2rem;

}

/* all sections */

#about {
  margin-top: .5rem;
}

#projects,
#contact {
  margin-top: 2rem;
}

#skills {
  margin-top: 5rem;
}

/* section - about */

.page-section {
  padding: 0 1rem;
  margin: 2rem auto;
}

.page-section h1 {
  padding: 0;
}

.about-boxes .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  grid-template-areas:
    "about-text about-text photo";
  justify-content: center;

}

.box {
  flex: 1;
  background: var(--dark);
  color: var(--light);
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 3px 5px var(--box-shadow);
  padding: 2rem;
  text-align: center;

}

#about-text {
  text-align: left;
  width: 1100px;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#about-text h2 {
  margin: 1rem;
}

#photo img {
  width: 380px;
  height: 380px;
  border-radius: 20rem;
  border: 3px solid var(--highlight);
  margin-top: .5rem;
}

#photo {
  width: 500px;
  padding: 2rem;
}

/*  section - projects */

#projects {
  margin: 2rem auto;
}

project-boxes .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* projects grid */

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 300px 300px 300px;
  gap: 3rem;
  grid-template-areas:
    "studyguide studyguide studyguide"
    "studyguide studyguide studyguide"
    "rpk gameboy pools"
    "bio horiseon survey";
}

.project-item img {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
}


/* project screenshots */

#studyguide {
  grid-area: studyguide;
}

#rpk {
  grid-area: rpk;
}

#gameboy {
  grid-area: gameboy;
}

#pools {
  grid-area: pools;
}

#bio {
  grid-area: bio;
}

#horiseon {
  grid-area: horiseon;
}

#survey {
  grid-area: survey;
}

.project-heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  height: 4rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 0 1rem 0 1rem;
  z-index: 5;
}

/* section - skills */

.skills-boxes .container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  justify-content: center;
  text-align: left;
  padding-bottom: 1rem;

}

.skills-box ul {
  display: flex;
  letter-spacing: .5rem;
  line-height: 2rem;
}

/* languages and apps logos */

.language-logos {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: .5rem;
  padding-bottom: 1rem;

}

.language-logos img {
  width: 70px;
}

/*  skills s p r e a d  */

#fe {
  color: var(--aqua);
}

#be {
  color: var(--purps);
}

#vi {
  color: var(--peachy);
}

#mp {
  color: var(--aqua);
}

#an {
  color: var(--purps);
}


/* section - contact */

.contact-boxes .container {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr;
  justify-content: space-between;
}

/* contact links */

#gh:hover {
  color: var(--aqua);
}

#lk:hover {
  color: var(--peachy);
}

#sk:hover {
  color: var(--purps);
}

#tw:hover {
  color: var(--aqua);
}

#el:hover {
  color: var(--peachy);
}

.music-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#scloud,
#scloud1 {
  width: 40px;
  height: 40px;
}

/* footer */

.footer {
  background-color: var(--dark);
  display: block;
  text-align: center;
  height: 150px;
  margin: 0 auto;
}

.footer p {
  padding-bottom: 2rem;
}

.footer-text {
  padding: 0px 0px;
}

.footer em {
  font-size: 10px;
}

.footer strong {
  color: var(--peachier);
  font-family: monospace;
  font-size: 18px;
}

.ul-icons {
  display: inline-flex;
  position: relative;
  text-decoration: none;
}

.ul-icons>li {
  display: inline-block;
  padding: 1rem 1rem;
}

/* responsive media queries */

/* large monitor adjustment */

@media screen and (max-width: 1550px) {

  #about-text {
    width: 900px;
  }

  #photo img {
    width: 400px;
    height: 400px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1360px) {
  #about-text {
    margin: 1rem;
    padding: 1rem;
    width: 700px;
  }

  #photo img {
    width: 400px;
    height: 400px;
    margin-top: 1rem;
  }
}


@media screen and (max-width: 1330px) {

  /* resets */
  h1,
  h2,
  h3 {
    text-align: center;
  }

  h1 {
    padding-top: 1rem;
    font-size: 40px;
  }

  h2 {
    font-size: 36px;
  }

  /* adjust header center */

  .bg-grid-container {
    padding: 2rem 0;
    margin-right: 5px;
    gap: 2px;
  }

  /* main edits */
  .main {
    padding: 2px;
  }

  /* about section grid */

  .box {
    padding: 5px;
  }

  .about-boxes .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: .7rem;
    padding: 5px;

  }

  .about-boxes h2 {
    text-align: left;
  }

  #about-text {
    width: 800px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  #photo {
    padding-top: 1rem;
  }

  #studyguide {
    background-image: url("../images/png/screenshots/ultimate_study_guide_topgrid_screenshot.png");
  }

  #project-item {
    object-fit: scale-down;
  }

  .language-logos img {
    width: 40px;
  }

  .skills-box ul {
    letter-spacing: .2rem;
    line-height: 1rem;
  }

  #banner {
    display: none;
  }

  .contact-boxes .container {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 1024px) {
  /* ipad 12.9 */

  /* header BG */

  .bg-grid-container {
    padding: 2rem 5px;
    margin: 5px auto;
    margin-right: 7px;
    margin-bottom: 1rem;
    gap: 4px;
  }

  /* about box */

  .about-boxes {
    margin-top: 2rem;
  }

  /* project boxes grid */

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
      500px 400px 400px 400px;
    grid-template-areas:
      "studyguide studyguide"
      "rpk gameboy"
      "pools horiseon"
      "bio survey";
  }

  #about-text {
    padding: 1rem;
    width: 950px;
  }

  #photo {
    padding: 1rem;
  }
}

/* ipad Pro 10" */
@media screen and (max-width:838px) {

  .bg-grid-container {
    padding: 2rem 5px;
    margin: 5px auto;
    margin-right: 10px;
    margin-bottom: 2rem;
    gap: 6px;
  }

  #about-text {
    width: 750px;
  }
}

@media screen and (max-width:800px) {
  .bg-grid-container {
    padding: 2rem 5px;
    margin: 5px auto;
    margin-right: 3px;
    margin-bottom: 2rem;
    gap: 7px;
  }
}

@media screen and (max-width:768px) {

  h1 {
    font-size: 38px;
  }

  /* navbar */

  .navbar a {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  nav-left img {
    width: 1rem;
    height: 1rem;
    margin-top: 1rem;
  }

  nav-left a {
    font-size: 12px;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  nav-right a {
    font-size: .8rem;
  }

  /* hero bg */
  .bg-grid-container {
    padding: 2rem 5px;
    margin: 10px auto;
    margin-right: 7px;
    margin-bottom: 2rem;
    gap: 5px;
  }

  /* projects grid */

  /* ipad reg and mini */

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
      400px 400px 400px 400px 400px 400px 400px;
    grid-template-areas:
      "studyguide studyguide"
      "rpk rpk"
      "gameboy gameboy"
      "pools pools"
      "horiseon horiseon"
      "bio bio"
      "survey survey";
  }

  /* skills section */

  .skills-box ul {
    display: block;
    text-align: center;
    letter-spacing: .3rem;
    line-height: 2rem;
  }

  #about-text {
    width: 700px;
  }

  #photo {
    padding: 2rem;
  }

}

@media screen and (max-width: 414px) {

  h1 {
    font-size: 38px;
  }

  /* nav */

  .navbar a {
    font-size: .8rem;
    margin-top: 1rem;
  }

  nav-left a {
    margin-top: 1.2rem;
    margin-left: 1rem;
  }

  .navbar ul {
    padding: 0;
  }

  /* nav icon */

  .nav-left img {
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
  }

  .navbar ul li {
    margin-right: 1rem;
  }

  .navbar li:last-child {
    margin-right: .5rem;
  }

  .nav-left {
    padding: 5px;
  }

  #about-text {
    width: 400px;
    margin: 0;
  }

  .bg-grid-container {
    padding: 2rem 5px;
    margin: 5px auto;
    margin-right: 10px;
    margin-bottom: 1rem;
    gap: 2px;
  }

  .project-boxes {
    margin: 0;
    padding: 5px;
  }

  .grid-container {
    display: block;
  }

  .project-item {
    height: 300px;
    margin-bottom: 2rem;
  }

  .skills-box ul {
    display: block;
    letter-spacing: .3rem;
    line-height: 2rem;
  }

  .language-logos img {
    width: 20px;
  }

  .footer {
    height: 12rem;
  }

}

@media screen and (max-width: 375px) {

  /* navbar */

  .navbar .container {
    padding: 0;
    margin: 0 auto;

  }

  .nav-left img {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
  }

  .navbar a {
    font-size: .7rem;
  }

  .navbar ul {
    padding: 0;
  }

  .navbar ul li {
    margin-right: 1rem;
  }

  .navbar li:last-child {
    margin-right: .7rem;
  }

  .nav-left {
    padding: 5px;
  }

  .nav-left a {
    margin-top: .8rem;
    margin-left: .5rem;
  }

  .bg-grid-container {
    padding: 2rem 5px;
    margin: 5px auto;
    margin-right: 2px;
    margin-bottom: 1rem;
    gap: 3px;
  }

  #about-text {
    width: 350px;
    padding: 0;
    margin: 0;
  }

  #photo img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 320px) {

  h1 {
    margin-top: 2rem;
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  /* adjust navbar container */

  .container {
    padding: 0;
    margin: 0 auto;
  }

  /* navbar */

  #home {
    display: none;
  }

  .navbar .container {
    padding: 0;
    margin: 0 auto;

  }

  .nav-left img {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
  }

  .navbar a {
    font-size: .7rem;
  }

  .navbar ul {
    padding: 0;
  }

  .navbar ul li {
    margin-right: 1rem;
  }

  .navbar li:last-child {
    margin-right: .7rem;
  }

  .nav-left {
    padding: 5px;
  }

  .nav-left a {
    margin-top: .8rem;
    margin-left: .5rem;
  }

  /* hero header */

  .bg-grid-container {
    padding: 2rem 5px;
    margin: 5px auto;
    margin-right: 4px;
    gap: 3px;
  }

  /* about section */

  #about-text {
    width: 300px;
    padding: 0;
    margin: 0;
  }

}